:root {
  --textColor: #efe;
  --accentColor: #3f6;
  --secondAccentColor: #cf0;
  --thirdAccentColor: #0f0;
  --delay: .3s;
}

html, body {
  height:100%;
  font-family: "Terminus";
  font-size: 18px;
  background-color: black;
  color: var(--textColor);
}

@font-face {
  font-family: "Terminus";
  src:url("terminus.woff2") format("woff2"),
    url("terminus.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#logo {
  font-size: 30px;
}

a:link {
  color: var(--accentColor);
  text-decoration: none;
}

a:visited {
  color: var(--accentColor);
  text-decoration: none;
}

a:hover {
  color: var(--secondAccentColor);
  text-decoration: underline;
}

a:active {
  color: var(--thirdAccentColor);
  text-decoration: none;
}

h2 {
  color: var(--accentColor);
}

/* html, body { */
/*   height:100%; */

/* html, body { */
/*   height:100%; */
/*   font-family: "Terminus"; */
/* } */

/* body { */
/*   background-color: black; */
/* } */

/* p { */
/*   color: #ccc; */
/* } */

/* a  { */
/*   /1* color: #0f3; *1/ */
/*   color: var(--accentColor); */
/* } */

/* a:visited { */
/*   color: #fc0; */
/* } */

/* @keyframes gradient { */
/*   0% { */
/*     background-position: 0% 50%; */
/*   } */
/*   50% { */
/*     background-position: 100% 50%; */
/*   } */
/*   100% { */
/*     background-position: 0% 50%; */
/*   } */
/* } */
/* :root { */
/*   --accentColor: #3f6; */
/*   --secondAccentColor: #3f6; */
/*   --delay: .3s; */
/* } */

/* .description, .source{ */
/*   color:#3f6; */
/*   text-align:left; */
/*   margin: 27px auto; */
/*   margin-top:10px; */
/*   padding-left: 45px; */
/*   width:100%; */
/*   max-width: 310px; */
/*   font-family: 'Terminus', mono; */
/*   font-size: 18px; */
/* } */

/* .source{ */
/*   font-size:small; */
/*   margin-top:50px; */
/* } */

/* .profilePicture, .profilePicture img { */
/*   position: relative; */
/*   width: 130px; */
/*   height: 130px; */
/*   display: block; */
/*   margin: 35px auto 20px; */
/*   border-radius: 0%; */
/* } */

/* .profilePicture img { */
/*   /1* border: 3px solid #0f0; *1/ */
/*   border: 3px solid var(--accentColor); */
/* } */

/* .userName { */
/*   color: var(--accentColor); */
/*   font-size: x-large; */
/*   font-weight: bold; */
/*   line-height: 1.25; */
/*   display: block; */
/*   width: 100%; */
/*   text-align: center; */
/*   text-decoration: none; */
/* } */

/* #logo { */
/*   width: 350px; */
/*   margin: auto; */
/* } */

/* .centered-div { */
/*   max-width: 675px; */
/*   display: block; */
/*   margin-left: auto; */
/*   margin-right: auto; */
/*   text-align: center; */
/* } */

/* .videoWrapper { */
/*   position: relative; */
/*   margin-bottom: 15px; */
/*   padding-bottom: 56.25%; */
/*   /1* 16:9 *1/ */
/*   padding-top: 25px; */
/*   height: 0; */
/* } */

/* @media (width > 1250px) { */
/*   .videoWrapper iframe { */
/*     position: absolute; */
/*     top: 0; */
/*     left: 0; */
/*     width: 100%; */
/*     height: 100%; */
/*   } */
/* } */

/* @media (width <= 1250px) { */
/*   .videoWrapper iframe { */
/*     position: absolute; */
/*     top: 0; */
/*     left: 0; */
/*     width: 100%; */
/*     height: 100%; */
/*   } */
/* } */

/* .links { */
/*   max-width: 375px; */
/*   width: auto; */
/*   display: block; */
/*   margin: 27px auto; */
/* } */

/* .link { */
/*   position: relative; */
/*   background-color: transparent; */
/*   color: var(--accentColor); */
/*   border: solid var(--secondAccentColor) 1px; */
/*   border-radius: 0px; */
/*   font-family: 'Terminus', mono; */
/*   font-size: 1.1rem; */
/*   text-align: center; */
/*   display: block; */
/*   margin-left: 10px; */
/*   margin-right: 10px; */
/*   margin-bottom: 10px; */
/*   padding: 10px; */
/*   text-decoration: none; */
/*   -webkit-tap-highlight-color: transparent; */
/* } */

/* .content { */
/*   max-width: 675px; */
/*   width: auto; */
/*   display: block; */
/*   margin: 27px auto; */
/* } */

/* .sectionHeader { */
/*   color: var(--accentColor); */
/*   font-size: large; */
/*   font-weight: bold; */
/*   line-height: 1.1; */
/*   display: block; */
/*   width: 100%; */
/*   text-align: center; */
/*   text-decoration: none; */
/*   font-family: 'Terminus', mono; */
/*   font-size: 21px; */
/* } */

/* @media (hover: hover) { */
/*   .link:hover { */
/*     background-color: var(--accentColor); */
/*     color: #000; /1* Fallback for older browsers *1/ */
/*     color: rgba(0, 0, 0, 1); */
/*   } */
/* } */

/* .link:active { */
/*   background-color: var(--accentColor); */
/*   color: #000; /1* Fallback for older browsers *1/ */
/*   color: rgba(0, 0, 0, 0.5); */
/* } */

/* .collaborators { */
/*   width: 350px; */
/*   margin-left: 50px; */
/* } */

/* .bottomPadding { */
/*   height: 200px; */
/* } */

/* .friendPadding { */
/*   height: 50px; */
/* } */
